<mapper namespace="com.uplus.ureka.repository.participation.ParticipationMapper">
    <!-- 사용자 존재 확인 -->
    <select id="checkExistUsers" resultType ="boolean">
        SELECT EXISTS (SELECT 1 FROM USERS WHERE ID = #{userId})
    </select>
    <!-- 신청 글 존재 확인 -->
    <select id="checkExistParticipation" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM POST_PARTICIPANTS WHERE USER_ID = #{userId}
        AND POST_ID = #{postId} AND STATUS = '신청')
    </select>

    <!-- 신청 대상 게시글 존재 확인 -->
    <select id="checkExistPost" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM POSTS WHERE ID = #{postId})
    </select>

    <!-- 유효한 신청 글의 여부 확인 -->
    <select id="checkPostStatusValid" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM POSTS WHERE ID = #{postId} AND STATUS IN ('모집중'))
    </select>

    <!-- 인원 상태가 승인 가능한 지 -->
    <select id="checkPersonAvailable" resultType="boolean">
        SELECT 1 FROM POSTS WHERE ID = #{postId}
        AND CURRENT_PARTICIPANTS &lt; MAX_PARTICIPANTS
    </select>

    <!-- 신청 추가 -->
    <insert id="applyParticipation" parameterType="com.uplus.ureka.domain.participation.Participant">
        INSERT INTO POST_PARTICIPANTS (USER_ID, POST_ID, STATUS, JOINED_AT)
        VALUES (#{userId}, #{postId}, '대기', NOW())
    </insert>

    <!-- 신청 취소 -->
    <delete id="cancelParticipation">
        DELETE FROM POST_PARTICIPANTS WHERE USER_ID = #{userId} AND POST_ID = #{postId}
    </delete>

    <!-- 참여 승인 -->
    <update id="approveParticipation">
        UPDATE POST_PARTICIPANTS SET STATUS = '승인'
        WHERE USER_ID = #{userId} AND POST_ID = #{postId} AND STATUS = '대기'
    </update>

    <!-- 승인 시 인원 증가 -->
    <update id="increaseCurrentperson">
        UPDATE POSTS SET CURRENT_PARTICIPANTS = CURRENT_PARTICIPANTS + 1
        WHERE ID = #{postId} AND CURRENT_PARTICIPANTS &lt; MAX_PARTICIPANTS
    </update>

    <!-- 참여 거부 -->
    <update id="rejectParticipation">
        UPDATE POST_PARTICIPANTS SET STATUS = '거절'
        WHERE USER_ID = #{userId} AND POST_ID = #{postId} AND STATUS = '대기'
    </update>

    <!-- 승인/거부 후 참여 큐에서 삭제 -->
    <delete id="deleteFromParticipationQueue">
        DELETE FROM POST_PARTICIPANTS
        WHERE USER_ID = #{userId}
        AND POST_ID = #{postId}
        AND (STATUS = '승인' OR STATUS = '대기')
    </delete>

    <!-- 전체 참여 현황 조회 -->
    <select id="findAllParticipantsByPostId" resultType="com.uplus.ureka.dto.participation.ParticipantResponseDTO">
        SELECT
        P.USER_ID AS userId,
        P.POST_ID AS postId,
        U.NICKNAME,
        PO.TITLE,
        P.STATUS,
        P.JOINED_AT AS joinedAt
        FROM POST_PARTICIPANTS P
        JOIN USERS U ON P.USER_ID = U.ID
        JOIN POSTS PO ON P.POST_ID = PO.ID
        WHERE P.POST_ID = #{postId}
        ORDER BY P.JOINED_AT ASC
    </select>

    <!-- 개별 사용자의 본인 참여 신청 현황 조회 -->
    <select id="findUserParticipationStatus" resultType="com.uplus.ureka.dto.participation.ParticipantResponseDTO">
        SELECT
        P.USER_ID AS userId,
        P.POST_ID AS postId,
        U.NICKNAME,
        PO.TITLE,
        P.STATUS,
        P.JOINED_AT AS joinedAt
        FROM POST_PARTICIPANTS P
        JOIN USERS U ON P.USER_ID = U.ID
        JOIN POSTS PO ON P.POST_ID = PO.ID
        WHERE P.USER_ID = #{userId} AND P.POST_ID = #{postId}
    </select>

</mapper>
